.catering-header {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: start;
}

#catering-information{
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: start;
}

.catering-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.catering-item {
    border: 1px solid black;
    padding: .5rem;
    flex: 1;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
}

.catering-item img {
    max-width: 15rem;
    max-height: 15rem;
}

.catering-item p {
    margin-top: 0.5rem;
}

.app-catering-order-button {
    margin: .5rem;
}

.order-button-container {
    align-self: center;
}

.modal {
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
}

.modal button {
  margin: 10px;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal .confirm {
  background: #28a745;
  color: #fff;
}

.modal .cancel {
  background: #ccc;
}

#catering-order-button {
    display: flex;
    align-items: end;
    align-self: end;
    align-content: end;
    justify-items: end;
    justify-self: end;
    justify-content: flex-end; /* pushes button to the right */
    margin-top: .5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
}