/* headers and such use Playfair Display */
h1, h2, h3, h4, h5, h6, mat-toolbar, button {
    font-family: 'Playfair Display', serif;
}

/* body uses uses Merriweather */
body, p, span, div {
    font-family: 'Merriweather', serif;
}

mat-toolbar { 
    width : 100%;
    height : 70px;
    display : flex;
    align-items : center;
}

.logo {
    height: 65px;
    padding : 5px;
    padding-top : 20px;
    align-items: center;
    justify-content : center;
    justify-items : flex-start;
}

.fill-header-space {
    flex : 1 1 auto;
}

#header-toolbar {
    display : flex;
    align-items: center;
    justify-content : center;
    justify-items : flex-end;
    gap : 10px;
}

#header-toolbar button:hover {
    transform: scale(1.1);
}