<h1 id="menu-title">Menu</h1>

<div class="menu-buttons">
  <button (click)="goToSection('happy-hour')">Happy Hour</button>
  <button (click)="goToSection('lunch')">Lunch</button>
  <button (click)="goToSection('dinner')">Dinner</button>
  <button (click)="goToSection('beverages')">Beverages</button>
  <button (click)="goToSection('desserts')">Desserts</button>
</div>

<div id="happy-hour">
  <h2>Happy Hour</h2>
  <p>Monday - Friday, 4pm - 6pm</p>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of happyHourItems">
      <img [src]="item.image">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>

<div id="lunch">
  <h2>Lunch</h2>
  <p>Monday - Sunday, 11am - 5pm</p>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of lunchItems">
      <img [src]="item.image">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>

<div id="dinner">
  <h2>Dinner</h2>
  <p>Monday - Sunday, 6pm - 10pm</p>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of dinnerItems">
      <img [src]="item.image">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>

<div id="beverages">
  <h2>Beverages</h2>
  <p>Available all day</p>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of beverageItems">
      <img [src]="item.image">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>

<div id="desserts">
  <h2>Desserts</h2>
  <p>Made fresh daily</p>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of dessertItems">
      <img [src]="item.image">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
