#menu-title {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.menu-buttons {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    text-align: center;
}

.menu-buttons button {
    margin: 0.5rem;
    padding: 10px 20px;
}

#happy-hour {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

#lunch {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

#dinner {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

#beverages {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

#desserts {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.menu-items {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.menu-item {
    border: 1px solid black;
    padding: 1rem;
    flex: 1;
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item p {
    margin-top: 0.5rem;
}
