.title {
    margin-left : 5rem;
    margin-right : 5rem;
    font-size: 2rem;
}

.paragraph {
    margin-left : 5rem;
    margin-right : 5rem;
}

#owners-together {
    max-width : 50%;
    margin : 0 auto;
    display : block;
    margin-bottom: 2rem;
}

#home-page-order {
    margin-top: 2rem;
    border: 1px solid crimson;
    text-align: center;
    margin: 0 10%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#home-page-order-title {
    font-size: 1.5rem;
}

/* .home-page-order-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
} */

.home-page-button {
    min-width: 9rem;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.home-page-button:hover {
    transform: scale(1.1);
}

#home-page-locations-container {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

#home-page-loc-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.home-loc-cont-div{
    flex: 0 0 33%;
    margin: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

.home-page-loc-img {
    width: 100%;
    min-height: 80%;
    height: auto;
    border-radius: 2px;
    display: block;
}

.home-page-loc-cont-titles {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
}

.home-page-loc-cont-addr { 
    font-size: 1rem;
    margin-top: 5px;
}

#customer-reviews {
    padding-left: 5rem;
}

#reviews-cont {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
}

.review {
    border: 1px solid black;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .75rem;
    border-radius: 2px;
}
