.form-field {
	margin: 2rem 5rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.input-box {
	width: 20rem;
	height: 2rem;
}

.message-box {
	width: 400px;
	height: 100px;
}

.invalid {
	border: 2px solid red;
}

.required {
	color: red;
}

.error {
	color: red;
	margin-top: 5px;
}

#submit-button {
	margin: 0 5rem 2rem 5rem;
	float: right;
}
