<form [formGroup]="contactForm">
	<div class="form-field">
		<label>First Name: <span *ngIf="isRequired('firstName')" class="required">*</span></label>
		<input class="input-box" [class.invalid]="isInvalid('firstName')" type="text" formControlName="firstName">
		<div *ngIf="isInvalid('firstName')" class="error">{{ getErrorMessage('firstName') }}</div>
	</div>

	<div class="form-field">
		<label>Last Name: <span *ngIf="isRequired('lastName')" class="required">*</span></label>
		<input class="input-box" [class.invalid]="isInvalid('lastName')" type="text" formControlName="lastName">
		<div *ngIf="isInvalid('lastName')" class="error">{{ getErrorMessage('lastName') }}</div>
	</div>

	<div class="form-field">
		<label>Email: <span *ngIf="isRequired('email')" class="required">*</span></label>
		<input class="input-box" [class.invalid]="isInvalid('email')" type="text" formControlName="email">
		<div *ngIf="isInvalid('email')" class="error">{{ getErrorMessage('email') }}</div>
	</div>

	<div class="form-field">
		<label>Your Message: <span *ngIf="isRequired('message')" class="required">*</span></label>
		<input class="message-box" [class.invalid]="isInvalid('message')" type="text" formControlName="message">
		<div *ngIf="isInvalid('message')" class="error">{{ getErrorMessage('message') }}</div>
	</div>

	<div>
		<button type="button" (click)="onSubmit()" id="submit-button">Submit</button>
	</div>
</form>
