h1 {
  margin-left: 5rem;
  margin-top: 1rem;
}

p {
  margin-left: 5rem;
}

.locations {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.location {
  border: 1px solid black;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.location img {
  width: 400px;
  height: auto;
}

.info {
  flex: 1;
}

.info h2 {
  margin-top: 0;
}

.info p {
  margin: 0.5rem 0;
}

.party-room {
  margin-top: 2rem;
  border-top: 1px solid black;
  padding-top: 1rem;
}

.party-room img {
  width: 200px;
  height: auto;
  margin: 1rem 0;
}
