/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* headers and such use Playfair Display */
h1, h2, h3, h4, h5, h6, mat-toolbar, button {
    font-family: 'Playfair Display', serif;
}

/* body uses uses Merriweather */
body, p, span, div {
    font-family: 'Merriweather', serif;
}