:host {
    display: block;
}

.footer-container {
    position: static;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3rem 4rem;
    gap: 2rem;
}

#left-footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    height: 65px;
    margin-bottom: .5rem;
}

.social-media-icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.social-media-icons img {
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.2s ease;
}

.social-media-icons img:hover {
    transform: scale(1.1);
}

#right-footer-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    gap: 2rem;
}

.footer-addresses p {
    margin: 0;
    line-height: 1.3rem;
}

.phone-foot {
    display: flex;
    align-items: center;
    font-weight: 500;
}